@use "../variables/variables" as *;

.footer{
    padding: 5rem 0;
    background-color: #efece9;
    width: 100%;

    @media only screen and (max-width: 800px) {
        padding: 2rem 0;
    }
}

.footer__flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    @media only screen and (max-width: 800px) {
        flex-direction: column;
    }
}

.footer__link{
    text-decoration: none;
    color: black;
    display: block;
    width: fit-content;

    @media only screen and (max-width: 800px) {
        margin: 0.3rem;
    }

    &:hover{
        text-decoration: underline;
    }
}